@model Planning.Areas.Admin.Models.PlanningAnusuchiViewModel.Anusuchi11ViewModel

@using Planning.Helpers

<script src="~/js/nepali.datepicker.v2.2.min.js"></script>
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/nepali.datepicker.v2.2.min.css" rel="stylesheet" />

@using (Html.BeginCollectionItem("Anusuchi11ViewModelList"))
{
    <div id="AddMembers" class="form-group">

        <div class="col-lg-4 col-md-6">
            <div class="form-group">
                <label>नाम , थरः</label>
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control " } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="form-group">
                <label>पद:</label>
                @Html.DropDownListFor(model => model.Position, Planning.Utility.CommonUtility.GetDesignitionList(), "-- छान्नुहोस --", new { @class = "form-control " })
                @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="form-group">
                <label>मिति:</label>
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control nepali-calendar Date" ,@onclick="getCalendar(this)"} })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="form-group">
                <label>सुझाब । प्रतिक्रिया:</label>
                @Html.TextAreaFor(model => model.Suggestion, 3, 70, new { htmlAttributes = new { @class = "form-control", @placeholder = "सुझाब । प्रतिक्रिया राख्नुहोस" } })
            </div>
        </div>
        <div class="btn-delete col-md-1" style="margin-left:200px; margin-top:40px;">
            <div><a href='javascript:;' class="btn btn-danger btn-sm removeMembers"><span class='fa fa-minus fa-1x'></span></a></div>
        </div>
        <div class="clearfix"></div>
    </div>
}


<script>
    $(".removeMembers").click(function () {
        $(this).parents("#AddMembers").remove();
    });
</script>



<script>
    function getCalendar(a) {
        debugger;
        var row = $(a).closest('.row');
        $(row).find('.Date').nepaliDatePicker({
            npdMonth: true,
            npdYear: true,
            npdYearCount: 10
        });
    }
</script>


