
@*@model Planning.Areas.Admin.Models.PlanningEntryViewModel.PlanningEntryViewModel*@

@model Planning.Areas.Admin.Models.PlanningSamjhautaViewModel.PlanningSamjhautaViewModel
@using Planning.Helpers

@using (Html.BeginCollectionItem("KistaSecondDetailsList"))
{
    @Html.HiddenFor(model => model.Kista_Kram, new { @class = "form-control", @Value = "दोश्राे" })
    <div class="col-md-1">दोश्रो किस्ता</div>
    <div class="col-md-2">@Html.TextBoxFor(model => model.Kista_Rakam, new { @class = "form-control", @id = "Kista_Rakam2" })</div>
    <div class="col-md-2">@Html.TextBoxFor(model => model.Payment_Date, new { @class = "form-control nepali-calendar", @id = "Payment_Date2", @placeholder = "____/__/__" })</div>
    <div class="col-md-2">@Html.TextBoxFor(model => model.Peski_Bhuktani, new { @class = "form-control", @id = "Peski_Bhuktani2" })</div>
    <div class="col-md-2">@Html.TextAreaFor(model => model.Sarta, new { @class = "form-control", @id = "Sarta2" })</div>
    <div class="col-md-3 form-group">@Html.TextAreaFor(model => model.Remarks, new { @class = "form-control", @id = "Description2" })</div>
    <div class="clearfix"></div>
}


<script>
    $('#Payment_Date2').nepaliDatePicker({
        npdMonth: true,
        npdYear: true,
        npdYearCount: 10
    });
</script>