@model Planning.Areas.Admin.Models.PlanningEntryViewModel.PlanningEntryViewModel

@*@model Planning.Areas.Admin.Models.PlanningSamjhautaViewModel.PlanningSamjhautaViewModel*@


@*@{
    int i = 1;
}*@


<input type="button" class="btn btn-primary pull-right" value="प्रिन्ट गर्नुहोस" formtarget="_blank" onclick="javascript: printDiv('printdiv')" />

<div class="tbl_div" style="padding:60px;" id="printdiv">

    <style type="text/css" media="print">
        @@media print {
            tr.anusuchiHeading {
                background-color: #333333 !important;
                -webkit-print-color-adjust: exact;
                border-color: #ffffff !important;
                color: #ffffff !important;
            }
        }

        @@media print {
            .anusuchiHeading th {
                color: #333333 !important;
                border-color: #ffffff !important;
                color: #ffffff !important;
                padding: 8px !important;
            }
        }

        @@media print {
            tr.anusuchiHeading2 {
                background-color: #666666 !important;
                -webkit-print-color-adjust: exact;
                border-color: #ffffff !important;
                color: #ffffff !important;
            }
        }

        @@media print {
            .anusuchiHeading2 th {
                color: #666666 !important;
                border-color: #ffffff !important;
                color: #ffffff !important;
                padding: 8px !important;
            }
        }

        @@media print {
            tr.anusuchiHeading3 {
                background-color: #666666 !important;
                -webkit-print-color-adjust: exact;
                border-color: #ffffff !important;
                color: #ffffff !important;
            }
        }

        @@media print {
            .anusuchiHeading3 th {
                color: #666666 !important;
                border-color: #ffffff !important;
                color: #ffffff !important;
                padding: 8px !important;
            }
        }

        @@media print {
            tr.anusuchibody {
                background-color: #eeeeee !important;
                -webkit-print-color-adjust: exact;
                border-color: #000000 !important;
            }
        }

        @@media print {
            .anusuchiBody td {
                color: #eeeeee !important;
                border-color: #000000 !important;
            }
        }

        @@media print {
            table tr.anusuchiBody {
                background-color: #eeeeee !important;
                border-color: #ffffff !important;
            }
        }

        @@media print {
        }

        /*table tr.anusuchiBody{
            text-align: center !important;
        }*/
    </style>



    <table width="100%" border="0" style="text-align:center; font-size:14px !important;" cellpadding="8">
        <tr>
            <td><img src="~/img/gov-logo.png" style="max-height:150px; max-width:100%;" /></td>
            <td>
                <h2><strong>नेपाल सरकार</strong></h2>
                <h3><strong> @Model.Organization_Name</strong></h3>
                <h4><strong>आ.ब.&nbsp;&nbsp; @Model.FiscalYear &nbsp;&nbsp; </strong></h4>
            </td>
        </tr>
    </table>

    <p></p>

    <table width="100%" border="1" cellpadding="8" cellspacing="0" style="font-size:12px !important; border-color:#ffffff !important;">

        <tr class="anusuchiHeading" style="background:#333333; color:#ffffff; border-color:#ffffff;">
            <th scope="col" rowspan="2">क्र.सं.</th>
            <th scope="col" rowspan="2">योजनाको विवरण</th>
            <th scope="col" rowspan="2">विनियोजित रकम</th>
            <th scope="col" colspan="3">वार्षिक लक्ष्य</th>
            <th scope="col" colspan="6">वार्षिक प्रगति</th>
            <th scope="col" rowspan="2">केेफियत</th>
        </tr>
        <tr class="anusuchiHeading" style="background:#333333; color:#ffffff; border-color:#ffffff;">
            <th scope="col">इकाइ</th>
            <th scope="col">परिमाण</th>
            <th scope="col">लागत अनुमान</th>
            <th scope="col">मुल्याङ्कन</th>
            <th scope="col">कार्यालयबाट</th>
            <th scope="col">जनसहभागिता</th>
            <th scope="col">परिमाण</th>
            <th scope="col">प्रगती</th>
            <th scope="col">प्रगती प्रतिशत</th>
        </tr>


        
        @foreach (var workarea in Model.AnuSuchiViewModelListByWorkArea)
        {
            <tr class="anusuchiHeading" style="background-color:#444444 !important; color:#ffffff;">

                @if (workarea.Work_Area == 1)
                {
                    <th scope="col" colspan="18" style="text-align:left;">
                        पूर्वाधार
                    </th>
                }
                else if (workarea.Work_Area == 2)
                {
                    <th scope="col" colspan="18" style="text-align:left;">
                        सामाजिक
                    </th>
                }
                else if (workarea.Work_Area == 3)
                {
                    <th scope="col" colspan="18" style="text-align:left;">
                        आर्थिक
                    </th>
                }
                else if (workarea.Work_Area == 4)
                {
                    <th scope="col" colspan="18" style="text-align:left;">
                        वातावरण
                    </th>
                }

            </tr>
            decimal? totalAmount = 0;
            decimal? totalwardSum = 0;
            decimal? totaljanaAmount = 0;
            decimal? totaljanaSum = 0;

            foreach (var oda in Model.AnuSuchiViewModelListByWard)
            {
                if (oda.Work_Area == workarea.Work_Area)
                {
                <tr class="anusuchiHeading2" style="background-color:#666666 !important; color:#ffffff;">
                    <th scope="col" colspan="18" style="text-align:left;">वडा स्तरीय योजनाहरु वडा नं. @Planning.Utility.NepaliEnglishNumber.English_Nepali(oda.Ward_No.ToString())</th>
                </tr>
                                int i = 1;
                                int j = 1;
                                foreach (var item in Model.OdaWiseViewModelList)
                                {
                                    if (oda.Ward_No == item.Ward_No)
                                    {
                                        decimal? totalSum = 0;
                                        decimal? totalsumjana = 0;
                                        if (workarea.Work_Area == item.Work_Area)
                                        {
                                            var totAmt = Planning.Utility.NepaliEnglishNumber.Get_Nepali_English(item.Amount_Estimate);
                                            var contAmt = Planning.Utility.NepaliEnglishNumber.Get_Nepali_English(item.JanaSahaBhagita_Amt);
                                            decimal totalAmt = Convert.ToDecimal(totAmt);
                                            decimal concigencyAmt = Convert.ToDecimal(contAmt);
                                            decimal? amt = totalAmt;
                                            decimal? amtJana = concigencyAmt;

        <tr class="anusuchiBody" style="background-color:#f4f4f4 !important; border-color:#999999 !important;">
            <td scope="col">@Planning.Utility.NepaliEnglishNumber.English_Nepali(i.ToString())</td>
            <td scope="col">@item.Planning_Name</td>
            <td scope="col">@item.Amount_Estimate</td>
            <td scope="col">&nbsp;</td>
            <td scope="col">&nbsp;</td>
            <td scope="col"> &nbsp;</td>
            <td scope="col">&nbsp;</td>
            <td scope="col">&nbsp;</td>
            <td scope="col">@item.JanaSahaBhagita_Amt</td>
            <td scope="col"></td>
            <td scope="col">&nbsp;</td>
            <td scope="col">&nbsp;</td>
            <td scope="col"></td>
        </tr>
        <tr class="anusuchiBody hidden" style="background-color:#f4f4f4 !important; border-color:#999999 !important; color:#000000 !important;">
            <td scope="col" colspan="2"><label class="pull-right"> जम्मा</label></td>
            <td scope="col">
                @{
                    totalSum = amt + totalSum;
                    totalAmount = amt + totalAmount;
                }
                <label>@totalSum</label>
            </td>
            <td scope="col">&nbsp;</td>
            <td scope="col">&nbsp;</td>
            <td scope="col">&nbsp;</td>
            <td scope="col">&nbsp;</td>
            <td scope="col">&nbsp;</td>
            <td scope="col">
                @{
                    totalsumjana = amtJana + totalsumjana;
                    totaljanaAmount = amtJana + totaljanaAmount;
                }
                <label>@totalsumjana</label>
            </td>
            <td scope="col">&nbsp;</td>
            <td scope="col">&nbsp;</td>
            <td scope="col">&nbsp;</td>
            <td scope="col">&nbsp;</td>
        </tr>
                                    }
                                }
                                if (oda.Ward_No == item.Ward_No)
                                {
                                    i++;
                                }
                                else
                                {
                                    j++;
                                }
                            }
                        }
                    }
                    <tr class="anusuchiBody" style="background-color:lightblue !important; border-color:#999999 !important; color:#000000 !important;">
                        <td scope="col" colspan="2"><label class="pull-right">कुल जम्मा</label></td>
                        <td scope="col">
                            @{
                                totalwardSum = totalAmount + totalwardSum;
                            }
                            <label>@totalwardSum</label>
                        </td>
                        <td scope="col">&nbsp;</td>
                        <td scope="col">&nbsp;</td>
                        <td scope="col">&nbsp;</td>
                        <td scope="col">&nbsp;</td>
                        <td scope="col">&nbsp;</td>
                        <td scope="col">&nbsp;</td>
                        <td scope="col">&nbsp;</td>
                        <td scope="col">&nbsp;</td>
                        <td scope="col">&nbsp;</td>
                        <td scope="col">&nbsp;</td>
                    </tr>
                                }
    </table>

</div>



<script language="javascript" type="text/javascript">
    function printDiv(divID) {
        var divElements = document.getElementById(divID).innerHTML;
        var oldPage = document.body.innerHTML;
        document.body.innerHTML = "<html><head><title></title></head><body>" + divElements + "</body>";
        window.print();
        document.body.innerHTML = oldPage;
    }
</script>