
@model Planning.Areas.Admin.Models.PlanningSamjhautaViewModel.PlanningSamjhautaViewModel

@{
    ViewBag.Title = "PlanningSelectedReport";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int i = 1;
}



<div class="padding-md">

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="header-list" style="text-align: center">
                    <h2>नगरपालिका र उपभोक्ता समिति बीचको सम्झौता</h2>
                </div>
                <hr />

                @using (Html.BeginForm("PlanningSelectedReport", "PlanningSamjhauta", FormMethod.Get))
                {
                    <fieldset>
                        <div class="row" style="margin-left:20px;">
                            <div class="col-md-2">
                                <label>आर्थिक वर्ष</label>
                                @Html.DropDownList("FiscalYear", Planning.Utility.CommonUtility.GetFiscalYearList(), "-- छान्नुहोस --", new { @class = "form-control", @OnChange = "GetProjectNameByFiscalYear()" })
                            </div>
                            <div class="col-md-2">
                                <label>आयोजनाको नाम</label>
                                @Html.DropDownList("ProjectName", Planning.Utility.CommonUtility.GetProjectNameList(), "-- छान्नुहोस --", new { @class = "form-control " })
                            </div>
                            <div class="col-md-2">
                                <label>वजेट श्रोत</label>
                                @Html.DropDownList("BudgetSource", Planning.Utility.CommonUtility.GetBudgetSourceList(), "---छान्नुहोस्---", new { @class = "form-control" })
                            </div>
                            <div class="col-md-2">
                                <label>वडा / नगर</label>
                                @Html.DropDownList("OdaNagar", new List<SelectListItem>
                {
                    new SelectListItem { Text = "वडा", Value = "O"},
                    new SelectListItem { Text = "नगर", Value = "N"},
                }, "--छान्नुहोस--", new { @class = "form-control" })

                            </div>
                            <div class="col-md-2" style="padding-left:0px; padding-top:20px;">
                                <input type="submit" name="submit" id="submit" value="खाेज्नुहाेस" class="btn btn-primary" />
                            </div>
                        </div>
                    </fieldset>
                }

                @*<input id="btnExport" type="button" class="btn btn-info pull-right" value="Excel मा लैजानुहोस् " />*@
                <a class="btn btn-info btn-sm pull-right" title="Excel" href="" id="btnExport" style="margin-bottom:5px;"><i class="fa fa-file-excel-o"></i>&nbsp; Excel मा लैजानुहोस्</a>

                <div id="page-wrap">
                    <table class="table table-bordered table-condensed table-hover table-striped" id="divPrint">
                        <thead>
                            <tr class="success">
                                <th>क्र.स.</th>
                                <th>आर्थिक वर्ष</th>
                                <th>वजेट श्रोत</th>
                                <th>वडा/नगर</th>
                                <th>आयोजनाको नाम</th>
                                <th>आयोजनाको स्थल</th>
                                <th>सम्झौता गर्ने संस्थाको नाम</th>
                                <th>शुरु हुने मिति</th>
                                <th>सम्पन्न हुने मिति</th>
                                <th>लागत अनुमान</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.PlanningSamjhautaViewModelList)
                            {
                                <tr>
                                    <th>@Planning.Utility.NepaliEnglishNumber.English_Nepali(i.ToString())</th>
                                    <td>@item.Fiscal_Year_Record</td>
                                    <td>@item.BudgetSource</td>
                                    <td>
                                        @if (item.Planning_Type == "O")
                                        {
                                            <span>वडास्तरीय</span>
                                        }
                                        else if (item.Planning_Type == "N")
                                        {
                                            <span>नगरस्तरीय</span>
                                        }
                                    </td>
                                    <td>@item.Project_Name</td>
                                    <td>@item.Project_Place</td>
                                    <td>@item.Samjhauta_Org_Name</td>
                                    <td>
                                        @if (item.Project_Start_Date != null)
                                        {@Planning.Utility.NepaliEnglishNumber.English_Nepali(Planning.Utility.CommonUtility.getNepaliDate(item.Project_Start_Date.Value.ToShortDateString()))}
                                    </td>
                                    <td>
                                        @if (item.Project_End_Date != null)
                                        {@Planning.Utility.NepaliEnglishNumber.English_Nepali(Planning.Utility.CommonUtility.getNepaliDate(item.Project_End_Date.Value.ToShortDateString()))}
                                    </td>
                                    <td>@item.Project_estimated_Amount</td>
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var $ = jQuery.noConflict();
    function GetProjectNameByFiscalYear() {
        debugger;
        var value = $('#FiscalYear option:selected').val();
        if (value == null || value == 0) {
            var item = "<option>-- छान्नुहोस --</option>";
            $("#ProjectName").html(item);
            return false;
        }
        $.ajax({
            url: "@Url.Action("GetProjectNameByFiscalYear", "PlanningSamjhauta")",
            type: 'get',
            datatype: "json",
            data: { fiscalYear: value },
            success: function (data) {
                var items = "<option value=\"\">" + "छान्नुहोस्" + "</option>";
                $.each(data, function (i, item) {
                    items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                });
                $("#ProjectName").html(items);
            },
            failure: function () {
                alert('An error occurred.');
            }
        })
    }
</script>

<script>
    $("#btnExport").click(function () {
        //var currentdate = new Date();
        var currentdate = new Date().toLocaleString();
        let file = new Blob([$('#page-wrap').html()], { type: "application/vnd.ms-excel" });
        let url = URL.createObjectURL(file);
        let a = $("<a />", {
            href: url,
            download: "योजना-सम्झौता.xls"
            //download: currentdate+"योजना-सम्झौता.xls"
        }).appendTo("body").get(0).click();
        e.preventDefault();
    });
</script>


