@*@model Planning.Areas.Admin.Models.PlanningSamjhautaViewModel.PlanningSamjhautaViewModel*@
@model Planning.Areas.Admin.Models.PlanningBhuktaniViewModel.PlanningBhuktaniViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int i = 1;
}
<style>
    .btn-ripple {
        display: inline-block;
        position: relative;
        overflow: hidden;
        transition: all ease-in-out .5s;
    }

        .btn-ripple::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 25%;
            height: 100%;
            width: 50%;
            background-color: #000;
            border-radius: 50%;
            opacity: 0;
            pointer-events: none;
            transition: all ease-in-out 1s;
            transform: scale(5, 5);
        }

        .btn-ripple:active::after {
            padding: 0;
            margin: 0;
            opacity: .2;
            transition: 0s;
            transform: scale(0, 0);
        }
</style>
<script src="~/Scripts/ExcelExport.js"></script>
<form action="BhuktaniAllKistaReport" method="get">
  
    <div class="col-md-2">
        <span>वडा नं.</span>
        @Html.DropDownListFor(model => model.ward, Planning.Utility.CommonUtility.GetWardNoList(), new { @class = "form-control filter " })
    </div>
    <div class="col-md-2">
        <span>&nbsp;</span>
        <button class="btn btn-success btn-ripple form-control">खोज्नुहोस्</button>
    </div>
</form>
<input type="button" class="btn btn-primary pull-right btn-ripple  " value="प्रिन्ट गर्नुहोस" formtarget="_blank" onclick="javascript: printDiv('printdiv')" />
<a class="btn btn-primary pull-right" download="सम्पुर्ण भुक्तानि विवरण.xls" href="#" onclick="return ExcellentExport.excel(this, 'printdiv', 'Sheet Name Here');">
    एक्सेलमा लैजानुहोस
</a>

<div class="tbl_div" style="padding:60px;" id="printdiv">

    <style type="text/css" media="print">


        @@media print {
            tr.anusuchiHeading {
                background-color: #ffffff !important;
                /*-webkit-print-color-adjust: exact;*/
                border-color: #999999 !important;
                color: #000000 !important;
            }
        }

        @@media print {
            .anusuchiHeading th {
                /*color: #ffffff !important;*/
                border-color: #999999 !important;
                color: #000000 !important;
                padding: 8px !important;
            }
        }

        @@media print {
            tr.anusuchiHeading2 {
                background-color: #ffffff !important;
                -webkit-print-color-adjust: exact;
                border-color: #999999 !important;
                color: #000000 !important;
            }
        }

        @@media print {
            .anusuchiHeading2 th {
                background-color: #ffffff !important;
                color: #666666 !important;
                border-color: #999999 !important;
                color: #000000 !important;
                padding: 8px !important;
            }
        }

        @@media print {
            tr.anusuchiHeading3 {
                background-color: #ffffff !important;
                -webkit-print-color-adjust: exact;
                border-color: #999999 !important;
                color: #000000 !important;
            }
        }

        @@media print {
            .anusuchiHeading3 th {
                background-color: #ffffff !important;
                color: #666666 !important;
                border-color: #999999 !important;
                color: #000000 !important;
                padding: 8px !important;
            }
        }

        @@media print {
            tr .anusuchibody {
                background-color: #eeeeee !important;
                -webkit-print-color-adjust: exact;
                border-color: #999999 !important;
                color: #000000 !important;
            }
        }

        @@media print {
            .anusuchiBody td {
                color: #eeeeee !important;
                border-color: #999999 !important;
                color: #000000 !important;
            }
        }

        @@media print {
            table tr .anusuchiBody {
                border-color: #999999 !important;
                color: #000000 !important;
            }
        }

        @@media print {
        }
    </style>

    <style>

        th, td {
            color: #000;
        }

        .table tbody > tr {
            border: none !important;
        }

        .table tr td {
            border: none !important;
            border-color: #f9f9f9 !important;
            padding: 0px !important;
            color: #000000;
        }

        .table.table-bordered th, .table.table-bordered td {
            padding: 8px !important;
        }
    </style>

    <table class="table" border="0" style="border:0px !important;" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td width="25%" style="border:none !important; border:0px !important;">
                    <img src="~/img/gov-logo.png" style="max-height:120px; max-width:100%; display:inline-block; position:relative; vertical-align:baseline;" />
                </td>
                <td width="45%" style="text-align:center; border:none !important; border:0px !important;">
                    <h1 style="font-weight:bold; font-size:30px;">नेपाल सरकार</h1>
                    <h2 style="font-weight:bold; font-size:24px; margin-top:0px;">@Model.Organization_Name</h2>
                    <h3 style="font-weight:bold; font-size:18px; margin-top:0px;">आ.ब.&nbsp;&nbsp; @Model.Fiscal_Year_Record &nbsp;&nbsp; </h3>
                </td>
                <td width="30%" style="border:none !important; border:0px !important;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3" style="border:none !important; border:0px !important;">&nbsp;</td>
            </tr>
        </tbody>
    </table>

    <p></p>

    <div class="work-area-header"><h4>सम्पुर्ण भुक्तानि विवरण</h4></div>

    <table width="100%" border="1" cellpadding="8" cellspacing="0" style="font-size:12px !important; border-color:#000000 !important;">
        <thead>
            <tr class="anusuchiHeading" style="background-color:#4ABDAC; color:#ffffff; border-color:#000;">
                <th scope="col" rowspan="2">क्र.सं.</th>
                <th scope="col" rowspan="2">आर्थिक वर्ष</th>
                <th scope="col" rowspan="2">योजना / कार्यक्रम</th>
                <th scope="col" rowspan="2">कुल ल.ई.</th>
                <th scope="col" rowspan="2">न.पा.विनियोजित</th>
                <th scope="col" rowspan="2">जन सहभागिता</th>
                <th scope="col" rowspan="2">पेश्की </th>
                <th scope="col" rowspan="2"> रनिङ भुक्तानी</th>
                <th scope="col" rowspan="2">अन्तिम प्राविधिक मूल्याङ्कन</th>
                <th scope="col" rowspan="2">वडा नं.</th>
                <th scope="col" colspan="4" style="text-align:center;">भुक्तानी रकम</th>

            </tr>
            <tr class="anusuchiHeading" style="background:#4ABDAC; color:#ffffff; border-color:#000;">
                <th scope="col">पेश्कि रकम</th>
                <th scope="col">प्रथम किस्ता रकम</th>
                <th scope="col">दोस्रो किस्ता रकम</th>
                <th scope="col">तेस्रो/अन्तिम किस्ता रकम</th>
            </tr>
        </thead>
        <tbody>
            @*@if (Model.PlanningBhuktaniViewModelList.Count() != 0)
                {*@
            @foreach (var item in Model.PlanningBhuktaniViewModelList)
            {
                <tr class="anusuchiHeading" style="background-color:#f4f4f4  !important; color:#ffffff;">
                    <td>@Planning.Utility.NepaliEnglishNumber.English_Nepali(i.ToString())</td>
                    <td>@item.Fiscal_Year_Record</td>
                    <td>@item.Aayojana_Karyakram</td>
                    <td>@item.Kul_La_Ie</td>
                    <td>@item.NaPa_Binayajit</td>
                    <td>@item.Jana_Sahabagita</td>
                    <td>@item.Peski</td>
                    <td>
                        @item.Running_Bhuktani
                    </td>
                    <td>@item.Technical_Amount</td>
                    <td>
                        वडा नं. :@Planning.Utility.NepaliEnglishNumber.English_Nepali(item.ward.ToString())


                    </td>
                    <td>@item.Remaining_Bhuktani_Amount</td>

                    <td>
                        @{Planning.Areas.Admin.Providers.PlanningSamjhautaProvider.PlanningSamjhautaProvider pro = new Planning.Areas.Admin.Providers.PlanningSamjhautaProvider.PlanningSamjhautaProvider();
                        }

                        @pro.getPrathamBhuktani(item.Planning_Samjhauta_Id ?? 0)
                    </td>
                    <td>
                        @pro.getSecondBhuktani(item.Planning_Samjhauta_Id ?? 0)
                    </td>
                    <td>
                        @pro.getLastBhuktani(item.Planning_Samjhauta_Id ?? 0)
                    </td>
                </tr>
                i++;
            }
            @*}*@
        </tbody>
    </table>
</div>

<script language="javascript" type="text/javascript">
    function printDiv(divID) {
        var divElements = document.getElementById(divID).innerHTML;
        var oldPage = document.body.innerHTML;
        document.body.innerHTML = "<html><head><title></title></head><body>" + divElements + "</body>";
        window.print();
        document.body.innerHTML = oldPage;
    }</script>

