
@model Planning.Areas.Admin.Models.PlanningEntryViewModel.PlanningEntryViewModel


@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery.maskedinput.js"></script>

<div class="padding-md">
    <section style="background:#efefe9;">
        <div class="container">
            <div class="row">
                <div class="board">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="fiscalYearRecord">
                            <div class="main-content">

                                @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    @Html.ValidationSummary()
                                    <div class="col-md-12">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-8">
                                            @*<h3>योजना सम्झौता फारम</h3>*@
                                            <h3>योजना फारम</h3>
                                            <br /><br />
                                        </div>
                                        <div class="col-md-2"></div>
                                    </div>
                                    
                                    <div class="clearfix"></div>

                                    <div class="col-md-12">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-1">आर्थिक वर्षः</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.FiscalYear, new{@class = "form-control",@required = "requierd",@*@placeholder = "___/___"*@  @placeholder = "उदाहरण(०७५/०७६)"})</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2">वडा स्तरिय/नगर स्तरिय</div>
                                        <div class="col-md-6 form-group">
                                            @Html.RadioButtonFor(model => model.Planning_Type, "O", new { @id = "oda", @class = "form-control-custom radio-custom" })
                                            <label for="oda" style="margin-left:20px;">वडा स्तरिय</label>
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            @Html.RadioButtonFor(model => model.Planning_Type, "N", new { @id = "nagar", @class = "form-control-custom radio-custom" })
                                            <label for="nagar" style="margin-left:20px;">नगर स्तरिय</label>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-1">कार्यक्षेत्र  :</div>
                                        <div class="col-md-6 form-group">@Html.DropDownListFor(model => model.Work_Area, Planning.Utility.CommonUtility.GetWorkAreaList(), "---छान्नुहोस्---", new { @class = "form-control" })</div>
                                        <div class="clearfix"></div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-1">वडा नं. :</div>
                                        <div class="col-md-6 form-group">@Html.DropDownListFor(model=>model.Ward_No,Planning.Utility.CommonUtility.GetWardNoList(),"---छान्नुहोस्---" ,new { @class = "form-control" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-1">वजेट श्रोत :</div>
                                        <div class="col-md-6 form-group">@Html.DropDownListFor(model => model.Budget_Source_Id, Planning.Utility.CommonUtility.GetBudgetSourceList(), "---छान्नुहोस्---", new { @class = "form-control" })</div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-4"><h5><strong> आयोजनाः सम्बनधी विवरण :</strong></h5></div>
                                        <div class="col-md-8"></div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2">योजनाको नाम र स्थान :</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.Planning_Name, new { @class = "form-control" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2">योजना शुरु हुने मिति :</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.Planning_Start_Date, new { @class = "form-control", @placeholder = "____/__/__" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2">योजना सम्पन्न हुने मिति :</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.Planning_End_Date, new { @class = "form-control", @placeholder = "____/__/__" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2">कामको विवरण :</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.Work_Details, new { @class = "form-control" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2">लागत इष्टिमेट अङ्क रु :</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.Amount_Estimate, new { @class = "form-control" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2">कामको किसिम :</div>
                                        <div class="col-md-6 form-group">@Html.DropDownListFor(model => model.Work_Type, Planning.Utility.CommonUtility.GetWorkTypeList(), "---छान्नुहोस्---", new { @class = "form-control" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2"> अनुदान :</div>
                                        <div class="col-md-6"></div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2">क. धनगढीमाई नगरपालिका</div>
                                        <div class="col-md-6 form-group">रु.@Html.TextBoxFor(model => model.Nagarpalika_Amt, new { @class = "form-control shrot" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2">ख. उ.स.</div>
                                        <div class="col-md-6 form-group">रु.@Html.TextBoxFor(model => model.UpaBhoktaSamiti_Amt, new { @class = "form-control shrot" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2">ग. अन्य</div>
                                        <div class="col-md-6 form-group">रु.@Html.TextBoxFor(model => model.Other_Amt, new { @class = "form-control shrot" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2">घ. जनसहभागीता</div>
                                        <div class="col-md-6 form-group">रु.@Html.TextBoxFor(model => model.JanaSahaBhagita_Amt, new { @class = "form-control shrot" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2">ङ. गेेर सरकारी संघ/संस्था</div>
                                        <div class="col-md-6 form-group"></div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-3">उपभोक्ता समितिको अध्यक्षको नाम र ठेगाना</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.UpaBhoktaSamiti_HeadName, new { @class = "form-control" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-3">ठेकेदारको नाम र ठगाना</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.Contractor_Name, new { @class = "form-control" })</div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <p></p><p></p>

                                    <div class="col-md-4"><h5 style="text-align:center;"><strong>ठेकेदारले न.पा. बाट प्रप्त गर्ने किस्ता विवरण</strong></h5></div>
                                    <div class="col-md-8"></div>
                                        <div class="clearfix"></div>

                                    //kista bibaran

                                    <div class="col-md-1">किस्ता क्रम </div>
                                    <div class="col-md-2">किस्ता रकम</div>
                                    <div class="col-md-2">मिति</div>
                                    <div class="col-md-2">पेश्की / भुक्तानी</div>
                                    <div class="col-md-2">शर्त</div>
                                    <div class="col-md-3">केेफियत</div>
                                    <div class="clearfix"></div>

                                    <div id="SourceFormgroup">
                                        <div class="form-group">
                                            <div class="col-lg-12 col-md-12 inputGroupContainer">
                                                <div class="row">
                                                        @Html.Partial("_FirstKista")
                                                        @Html.Partial("_SecondKista")
                                                        @Html.Partial("_ThirdKista")
                                                        @Html.Partial("_LastKista")
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>

                                    //

                                    <p></p><p></p>
                                        <div class="form-group">
                                            <label class="col-lg-3  col-md-4 control-label"></label>
                                            <div class="col-lg-7 col-md-7">
                                                <button type="submit" class="btn btn-success">सुरक्षित गर्नुहोस </button>
                                                <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("PlanningEntryIndex", "PlanningSamjhauta")'">मुख्य मेनु</button>
                                            </div>
                                        </div>
                                }
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<script type="text/javascript">
    jQuery(function ($) {
        $("#Planning_Start_Date").mask("9999/99/99");
        $("#Planning_End_Date").mask("9999/99/99");
    });
</script>