
@model Planning.Areas.Admin.Models.PlanningSamjhautaViewModel.PlanningSamjhautaViewModel

@using Planning.Helpers

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    List<Planning.Planning.Entities.Organization_Setup> OrganiationName = new List<Planning.Planning.Entities.Organization_Setup>();
    using (Planning.Planning.Entities.PLANNING_OCT_03Entities db = new Planning.Planning.Entities.PLANNING_OCT_03Entities())
    {
        OrganiationName = (from i in db.Organization_Setup select i).ToList();
    }
}


<script src="~/Scripts/jquery.maskedinput.js"></script>
<script src="~/js/nepali.datepicker.v2.2.min.js"></script>
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/nepali.datepicker.v2.2.min.css" rel="stylesheet" />


@if (TempData["Msg"] != null)
{
    <script>alert("@TempData["Msg"]");</script>
}


<div class="padding-md">
    <section style="background:#efefe9;">
        <div class="container">
            <div class="row">
                <div class="board">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="fiscalYearRecord">
                            <div class="main-content">

                                <div class="row header-section">
                                    <div class="col-md-2" style="display:inline-block; position:relative;">
                                        <img src="~/img/gov-logo.png" style="max-height:160px; max-width:100%; display:inline-block; position:relative; vertical-align:baseline;" />
                                    </div>
                                    <div class="col-md-10 text-center" style="display:inline-block; position:relative;">
                                        @*@if (Model.OrganizationSetupList.Count() > 0)
                                        {
                                        foreach (var org in Model.OrganizationSetupList)
                                        {
                                            <h1>@org.Organization_Name</h1>
                                            <h2>@org.Organization_Type</h2>
                                            <h3>@org.District_Name</h3>
                                            <h4>@org.State_Country</h4>
                                        }
                                        }*@
                                        @if (OrganiationName.Count > 0)
                                        {
                                            using (Planning.Planning.Entities.PLANNING_OCT_03Entities db = new Planning.Planning.Entities.PLANNING_OCT_03Entities())
                                            {
                                                foreach (Planning.Planning.Entities.Organization_Setup i in OrganiationName)
                                                {
                                                    <h1>@i.Organization_Name</h1>
                                                    <h2>@i.Organization_Type</h2>
                                                    <h3>@i.District_Name</h3>
                                                    <h4>@i.State_Country</h4>
                                                }
                                            }
                                        }
                                    </div>
                                </div>
                                <hr />


                                @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    @*@Html.ValidationSummary()*@
                                    @Html.HiddenFor(model=>model.Planning_Samjhauta_Id)
                                    @Html.HiddenFor(model=>model.Planning_Entry_Id)
                                    @Html.HiddenFor(model=>model.Status)
                                    
                                    <div class="col-md-12">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-8">
                                            <h3>योजना सम्झौता फारम</h3>
                                            <br /><br />
                                        </div>
                                        <div class="col-md-2"></div>
                                    </div>

                                    <div class="clearfix"></div>

                                    <div class="col-md-12">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2">आर्थिक वर्षः</div>
                                        <div class="col-md-6 form-group">
                                            @Html.TextBoxFor(model => model.FiscalYear, new
                                                                    {
                                                                        @class = "form-control",
                                                                        @required = "requierd", @placeholder = "उदाहरण(०७५/०७६)"
                                                                    })
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-1">वजेट श्रोत :</div>
                                    <div class="col-md-6 form-group">@Html.DropDownListFor(model => model.Budget_Source_Id, Planning.Utility.CommonUtility.GetBudgetSourceList(), "---छान्नुहोस्---", new { @class = "form-control" })</div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-2">वडा स्तरिय/नगर स्तरिय</div>
                                    <div class="col-md-6 form-group">
                                        @Html.RadioButtonFor(model => model.Planning_Type, "O", new { @id = "oda", @class = "form-control-custom radio-custom", onclick = "getType()" })
                                        <label for="oda" style="margin-left:20px;">वडा स्तरिय</label>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        @Html.RadioButtonFor(model => model.Planning_Type, "N", new { @id = "nagar", @class = "form-control-custom radio-custom", onclick = "getType()" })
                                        <label for="nagar" style="margin-left:20px;">नगर स्तरिय</label>
                                        <span class="PlanningEntryTypeValidation" style="color:red;"></span>
                                    </div>
                                    <div class="clearfix"></div>
                                        @if(Model.Planning_Type=="O")
                                        {
                                    <div class="col-md-1"></div>
                                    <div class="col-md-1" id="ward">वडा नं. :</div>
                                    <div class="col-md-6 form-group">@Html.DropDownListFor(model => model.Ward_No, Planning.Utility.CommonUtility.GetWardNoList(), "---छान्नुहोस्---", new { @class = "form-control" })</div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-1" id="karyachhetra">कार्यक्षेत्र  :</div>
                                    <div class="col-md-6 form-group">@Html.DropDownListFor(model => model.Work_Area, Planning.Utility.CommonUtility.GetWorkAreaList(), "---छान्नुहोस्---", new { @class = "form-control" })</div>
                                    <div class="clearfix"></div>
                                        }
                                    <div class="clearfix"></div>
                                </div>
                                    <div class="col-md-12">
                                        <div class="col-md-4"><h5><strong> आयोजनाः सम्बनधी विवरण :</strong></h5></div>
                                        <div class="col-md-8"></div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2">योजनाको नाम र स्थान :</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.Planning_Name, new { @class = "form-control" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2">योजना शुरु हुने मिति :</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.Planning_Start_Date, new { @class = "form-control nepali-calendar", @placeholder = "____/__/__" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2">योजना सम्पन्न हुने मिति :</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.Planning_End_Date, new { @class = "form-control nepali-calendar", @placeholder = "____/__/__" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2">कामको विवरण :</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.Work_Details, new { @class = "form-control" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2">लागत इष्टिमेट अङ्क रु :</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.Amount_Estimate, new { @class = "form-control" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2">कामको किसिम :</div>
                                        <div class="col-md-6 form-group">@Html.DropDownListFor(model => model.Work_Type, Planning.Utility.CommonUtility.GetWorkTypeList(), "---छान्नुहोस्---", new { @class = "form-control" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2"> अनुदान :</div>
                                        <div class="col-md-6"></div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2">क. धनगढीमाई नगरपालिका</div>
                                        <div class="col-md-6 form-group">रु.@Html.TextBoxFor(model => model.Nagarpalika_Amt, new { @class = "form-control shrot1" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2">ख. उ.स.</div>
                                        <div class="col-md-6 form-group">रु.@Html.TextBoxFor(model => model.UpaBhoktaSamiti_Amt, new { @class = "form-control shrot1" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2">ग. अन्य</div>
                                        <div class="col-md-6 form-group">रु.@Html.TextBoxFor(model => model.Other_Amt, new { @class = "form-control shrot1" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2">घ. जनसहभागीता</div>
                                        <div class="col-md-6 form-group">रु.@Html.TextBoxFor(model => model.JanaSahaBhagita_Amt, new { @class = "form-control shrot1" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2">ङ. गेेर सरकारी संघ/संस्था</div>
                                        <div class="col-md-6 form-group"></div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-3">उपभोक्ता समितिको अध्यक्षको नाम र ठेगाना</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.UpaBhoktaSamiti_HeadName, new { @class = "form-control" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-3">ठेकेदारको नाम र ठगाना</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.Contractor_Name, new { @class = "form-control" })</div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <p></p><p></p>

                                    <div class="col-md-4"><h5 style="text-align:center;"><strong>ठेकेदारले न.पा. बाट प्रप्त गर्ने किस्ता विवरण</strong></h5></div>
                                    <div class="col-md-8"></div>
                                    <div class="clearfix"></div>


                                    <div class="col-md-1">किस्ता क्रम </div>
                                    <div class="col-md-2">किस्ता रकम</div>
                                    <div class="col-md-2">मिति</div>
                                    <div class="col-md-2">पेश्की / भुक्तानी</div>
                                    <div class="col-md-2">शर्त</div>
                                    <div class="col-md-3">केेफियत</div>
                                    <div class="clearfix"></div>

                                    <div id="SourceFormgroup">
                                        <div class="form-group">
                                            <div class="col-lg-12 col-md-12 inputGroupContainer">
                                                <div class="row">
                                                    
                                                    @if (Model.KistaFirstDetailsList.Count() > 0 || Model.KistaSecondDetailsList.Count() > 0 || Model.KistaThirdDetailsList.Count() > 0 || Model.KistaLastDetailsList.Count() > 0)
                                                    {
                                                        if (Model.KistaFirstDetailsList.Count() > 0)
                                                        {
                                                            foreach (var item in Model.KistaFirstDetailsList)
                                                            {
                                                                @Html.Partial("_FirstKista", item)
                                                            }
                                                        }
                                                        if (Model.KistaSecondDetailsList.Count() > 0)
                                                        {
                                                            foreach (var item in Model.KistaSecondDetailsList)
                                                            {
                                                                @Html.Partial("_SecondKista", item)
                                                            }
                                                        }
                                                        if (Model.KistaThirdDetailsList.Count() > 0)
                                                        {
                                                            foreach (var item in Model.KistaThirdDetailsList)
                                                            {
                                                                @Html.Partial("_ThirdKista", item)
                                                            }
                                                        }
                                                        if (Model.KistaLastDetailsList.Count() > 0)
                                                        {
                                                            foreach (var item in Model.KistaLastDetailsList)
                                                            {
                                                                @Html.Partial("_LastKista", item)
                                                            }
                                                        }

                                                    }
                                                    else
                                                    {
                                                        @Html.Partial("_FirstKista")
                                                        @Html.Partial("_SecondKista")
                                                        @Html.Partial("_ThirdKista")
                                                        @Html.Partial("_LastKista")
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>




                                    <div class="col-md-12">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-8">
                                            <h3>धनगढीमाई नगरपालिका कार्यालय र उपभोक्ता समिति बीचको सम्झौता</h3>
                                            <h4 class="text-center">अनुसूची ..... सँग सम्बन्धित</h4>
                                        </div>
                                        <div class="col-md-2"></div>
                                    </div>
                                    <div class="clearfix"></div>

                                    <div class="col-md-12">
                                        @*<div class="col-md-1"></div>
                                        <div class="col-md-1">आर्थिक वर्षः</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.Fiscal_Year_Record, new
                                                                    {
                                                                        @class = "form-control",
                                                                        @required = "requierd",
                                                                        @placeholder = "उदाहरण(०७५/०७६)"
                                                                    })</div>
                                        <div class="clearfix"></div>*@
                                        <div class="col-md-1"></div>
                                        <div class="col-md-1">सम्झौता गर्ने संस्थाको नामः</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.Samjhauta_Org_Name, new { @class = "form-control" })</div>
                                        <div class="clearfix"></div>
                                    </div>


                                    <div class="col-md-12">
                                        <div class="col-md-4"><h5><strong>१. सम्झौत गर्ने पक्ष र आयोजनाः</strong></h5></div>
                                        <div class="col-md-8"></div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-11"><strong>(क) उपभोक्त समिति /समुदायमा आधारीत संस्था /गेेर सरकारी संस्थाको विवरण : सम्झौता गर्ने संस्थाको प्रतिनिधीको,</strong></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-1">१. नामः</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.Representative_Name, new { @class = "form-control" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-1">२. पदः</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.Representative_Designition, new { @class = "form-control" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-1">३. ठेगानाः</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.Representative_Address, new { @class = "form-control" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-11"><strong>(ख) आयोजनाको विवरणः</strong></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-1">१. नामः</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.Project_Name, new { @class = "form-control" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-1">२. स्थानः</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.Project_Place, new { @class = "form-control" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-1">३. उदेश्य:</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.Project_Objective, new { @class = "form-control" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2">४. आयोजना स्वीकृत गर्ने निकायः</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.Project_Acceptance_By, new { @class = "form-control" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2">५.आयोजना शुरु हुने मितिः</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.Project_Start_Date, new { @class = "form-control nepali-calendar", @placeholder = "____/__/__" })</div>
                                        @*<div class="col-md-6 form-group">@Html.TextBoxFor(model => model.startdate, new { @class = "form-control", @placeholder = "____/__/__" })</div>*@
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2">६.आयोजना सम्पन्न हुने मितिः</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.Project_End_Date, new { @class = "form-control nepali-calendar", @placeholder = "____/__/__" })</div>
                                        @*<div class="col-md-6 form-group">@Html.TextBoxFor(model => model.enddate, new { @class = "form-control", @placeholder = "____/__/__" })</div>*@
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2">(क) लागत अनुमान रुः</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.Project_estimated_Amount, new { @class = "form-control" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2">(ख) लागत व्यहोर्ने श्रोतहरुः</div>
                                        <div class="col-md-6"></div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2">१. नेपाल सरकार</div>
                                        <div class="col-md-6 form-group">रु.@Html.TextBoxFor(model => model.Nepal_Government, new { @class = "form-control shrot" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2">२. नगरपालिकावाट</div>
                                        <div class="col-md-6 form-group">रु.@Html.TextBoxFor(model => model.Municipality, new { @class = "form-control shrot" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2">३. प्रदेश</div>
                                        <div class="col-md-6 form-group">रु.@Html.TextBoxFor(model => model.State, new { @class = "form-control shrot" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2">४. गेेर सरकारी संघ संस्थाबाट</div>
                                        <div class="col-md-6 form-group">रु.@Html.TextBoxFor(model => model.NGO_INGO, new { @class = "form-control shrot" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2">५. समुदायमा आधारित संस्थाबाट</div>
                                        <div class="col-md-6 form-group">रु.@Html.TextBoxFor(model => model.Community_Org, new { @class = "form-control shrot" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2">६. विदेशी दातृ संघ संस्थाबाट</div>
                                        <div class="col-md-6 form-group">रु.@Html.TextBoxFor(model => model.Foreign_Org, new { @class = "form-control shrot" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2">७. उपभोक्ता समितिवाट नगद</div>
                                        <div class="col-md-6 form-group">रु.@Html.TextBoxFor(model => model.Public_Community, new { @class = "form-control shrot" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2">श्रमदान</div>
                                        <div class="col-md-6 form-group">रु.@Html.TextBoxFor(model => model.Loan_Grant, new { @class = "form-control shrot" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2">८. अन्यवाट</div>
                                        <div class="col-md-6 form-group">रु.@Html.TextBoxFor(model => model.Other_Source, new { @class = "form-control shrot" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-1">जम्मा रु.</div>
                                        @*<div class="col-md-6">@Html.TextBoxFor(model => model.SamitiName, new { @class = "form-control"})</div>*@
                                        <h5><span id="TotalSum"></span></h5>
                                        @Html.HiddenFor(model => model.Total_Amount_Source, new { @id = "subTotalSourceAmount" })
                                        @*@Html.TextBoxFor(model => model.Total_Amount_Source, new { @id = "subTotalSourceAmount",@class="col-md-2 form-control" })*@
                                        <div class="clearfix"></div>
                                        <br /><br />
                                    </div>

                                    <div class="col-md-12">
                                        <div class="col-md-4"><h5><strong>२. आयोजनावाट लाभान्वित हुने (प्रतिशतमा):</strong></h5></div>
                                        <div class="col-md-8"></div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-1">१. घर संख्याः</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.Total_House, new { @class = "form-control" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-1">२. जनसंख्याः</div>
                                        <div class="col-md-3 form-group">महिला @Html.TextBoxFor(model => model.Total_Male, new { @class = "form-control" })</div>
                                        <div class="col-md-3 form-group">पुरुष @Html.TextBoxFor(model => model.Total_Female, new { @class = "form-control" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-1">३. सामुदायः</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.Community, new { @class = "form-control" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-3">४. अन्यः- समुदायमा आधारीत / गेेर सरकारी संस्थाः</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.Other, new { @class = "form-control" })</div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="col-md-8"><h5><strong>३. उपभोक्त समिति /गेेर सरकारी संस्था /समुदायमा आधारीत संस्था सम्बन्धि विवरण :</strong></h5></div>
                                        <div class="col-md-4"></div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2">(क) समिति गठन भएको मितिः</div>
                                        <div class="col-md-6">@Html.TextBoxFor(model => model.Samiti_Estd_Date, new { @class = "form-control  nepali-calendar" })</div>
                                        <div class="col-md-3"></div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-3">(ख) पदाधिकारीको नाम र ठेगानाः</div>
                                        <div class="col-md-8"></div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-1">१. अध्यक्षः</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.Adakshya, new { @class = "form-control" })</div>
                                        <div class="col-md-3"></div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-1">२. सचिवः</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.Sachib, new { @class = "form-control" })</div>
                                        <div class="col-md-3"></div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-1">३. कोषाध्यक्षः</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.Koshadakshya, new { @class = "form-control" })</div>
                                        <div class="col-md-3"></div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-1">४. सदस्य</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.Sadashya, new { @class = "form-control" })</div>
                                        <div class="col-md-3"></div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-1">५. सदस्य</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.Sadashya, new { @class = "form-control" })</div>
                                        <div class="col-md-3"></div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-1">६. सदस्य</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.Sadashya, new { @class = "form-control" })</div>
                                        <div class="col-md-3"></div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-1">७. सदस्य</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.Sadashya, new { @class = "form-control" })</div>
                                        <div class="col-md-3"></div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-1">८. सदस्य</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.Sadashya, new { @class = "form-control" })</div>
                                        <div class="col-md-3"></div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-1">९. सदस्य</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.Sadashya, new { @class = "form-control" })</div>
                                        <div class="col-md-3"></div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-1">१०. सदस्य</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.Sadashya, new { @class = "form-control" })</div>
                                        <div class="col-md-3"></div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-1">११. सदस्य</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.Sadashya, new { @class = "form-control" })</div>
                                        <div class="col-md-3"></div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-3">(ग) समिति गठन गर्दा उपस्थित लाभान्वितको संख्याः</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.Beneficiaries_Attendance, new { @class = "form-control" })</div>
                                        <div class="col-md-2"></div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-3">(घ) समिति गठन गर्दा अनुपस्थित लाभान्वितको संख्याः</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.Beneficiaries_Absent, new { @class = "form-control" })</div>
                                        <div class="col-md-2"></div>
                                        <div class="clearfix"></div>
                                    </div>

                                        <div class="col-md-12">
                                            <div class="col-md-8"><h5><strong>४. आयोजना सञ्चालन सम्वन्धित अनुभवः</strong></h5></div>
                                            <div class="col-md-4"></div>
                                            <div class="clearfix"></div>
                                        </div>

                                    //using (Html.BeginCollectionItem("KistaKramList"))
                                    //{
                                        <div class="col-md-12">
                                            <div class="col-md-8"><h5><strong>५. उपभोक्त समिति समिदायमा आधारित संस्था गेे सरकारी संस्थाले प्राप्त गर्ने किस्ता विवरणः</strong></h5></div>
                                            <div class="col-md-4"></div>
                                            <div class="clearfix"></div>

                                            <div class="col-md-1"></div>
                                            <div class="col-md-2">प्राप्त गर्ने अनुदान</div>
                                            <div class="col-md-3 form-group">@Html.TextBoxFor(model => model.Nirmarn_Samagri, new { @class = "form-control" })</div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-2">कन्टिजेनसी वापत कट्टिहुने रकम ३ % </div>
                                            <div class="col-md-3 form-group">@Html.TextBoxFor(model => model.Nirmarn_Samagri, new { @class = "form-control" })</div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-2"><strong>खुद प्राप्त हुने रकम......मध्य</strong></div>
                                            <div class="col-md-3"></div>
                                            <div class="clearfix"></div>
                                            <br />
                                            <div class="col-md-1"></div>
                                            <div class="col-md-2">किस्ता क्रम </div>
                                            <div class="col-md-2">मिति</div>
                                            <div class="col-md-2">किस्ता रकम</div>
                                            <div class="col-md-2">निर्माण सामाग्री</div>
                                            <div class="col-md-3">केेफियत</div>
                                            <div class="clearfix"></div>


                                            <div id="SourceFormgroup">
                                                <div class="form-group">
                                                    <div class="col-lg-12 col-md-12 inputGroupContainer">
                                                        <div class="row">

                                                            @if (Model.PlanningSamjhautaKistaFirstDetailsList.Count() > 0 || Model.PlanningSamjhautaKistaSecondDetailsList.Count() > 0 || Model.PlanningSamjhautaKistaThirdDetailsList.Count() > 0)
                                                            {
                                                                if (Model.PlanningSamjhautaKistaFirstDetailsList.Count() > 0)
                                                                {
                                                                    foreach (var item in Model.PlanningSamjhautaKistaFirstDetailsList)
                                                                    {
                                                                        @Html.Partial("_PlanningSamjhautaFirstKista", item)
                                                                    }
                                                                }
                                                                if (Model.PlanningSamjhautaKistaSecondDetailsList.Count() > 0)
                                                                {
                                                                    foreach (var item in Model.PlanningSamjhautaKistaSecondDetailsList)
                                                                    {
                                                                        @Html.Partial("_PlanningSamjhautaSecondKista", item)
                                                                    }
                                                                }
                                                                if (Model.PlanningSamjhautaKistaThirdDetailsList.Count() > 0)
                                                                {
                                                                    foreach (var item in Model.PlanningSamjhautaKistaThirdDetailsList)
                                                                    {
                                                                        @Html.Partial("_PlanningSamjhautaThirdKista", item)
                                                                    }
                                                                }
                                                                
                                                            }
                                                            else
                                                            {
                                                                @Html.Partial("_PlanningSamjhautaFirstKista")
                                                                @Html.Partial("_PlanningSamjhautaSecondKista")
                                                                @Html.Partial("_PlanningSamjhautaThirdKista")
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="clearfix"></div>


                                            @*@for (int i = 1; i <= 3; i++)
                                            {
                                                <div class="col-md-1"></div>
                                                if (i == 1)
                                                {
                                                    @Html.HiddenFor(model => model.Kista_Kram, new { @class = "form-control", @Value = "पहिलो" })
                                                    <div class="col-md-2">पहिलो</div>
                                                }
                                                else if (i == 2)
                                                {
                                                    @Html.HiddenFor(model => model.Kista_Kram, new { @class = "form-control", @Value = "दोश्राे" })
                                                    <div class="col-md-2">दोश्रो</div>
                                                }
                                                else if (i == 3)
                                                {
                                                    @Html.HiddenFor(model => model.Kista_Kram, new { @class = "form-control", @Value = "अन्तिम" })
                                                    <div class="col-md-2">अन्तिम</div>
                                                }

                                                <div class="col-md-2">@Html.TextBoxFor(model => model.Payment_Date, new { @class = "form-control", @id = "Payment_Date" + i, @placeholder = "____/__/__" })</div>
                                                <div class="col-md-2">@Html.TextBoxFor(model => model.Kista_Rakam, new { @class = "form-control", @id = "Kista_Rakam" + i })</div>
                                                <div class="col-md-2">@Html.TextBoxFor(model => model.Nirmarn_Samagri, new { @class = "form-control", @id = "Nirmarn_Samagri" + i })</div>
                                                <div class="col-md-3 form-group">@Html.TextAreaFor(model => model.Nirmarn_Samagri, new { @class = "form-control", @id = "Nirmarn_Samagri" + i })</div>
                                                <div class="clearfix"></div>
                                            }*@

                                            <div class="col-md-3"></div>
                                            <div class="col-md-2"><label class="pull-right">जम्मा रु.।</label> </div>
                                            <div class="col-md-3"><h5><span id="TotalSumForKista"></span></h5></div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-3"></div>
                                            <div class="col-md-2"><label class="pull-right">अक्षरेपीः रु.</label> </div>
                                            <div class="col-md-3"><h5><span id="TotalSumInWord"></span></h5></div>
                                            @Html.HiddenFor(model => model.Contegency_Amount, new { @id = "subTotalKattaHuni" })
                                            @Html.HiddenFor(model => model.Total_Amount, new { @id = "subTotalKista" })

                                            <div class="clearfix"></div>
                                        </div>
                                    @*}*@
                                    @*<div class="col-md-12">
                                        <div class="col-md-8"><h5><strong>६. आयोजनाको मर्मत सम्भार व्यहोर्ने व्यवस्था (मासिक/चाेेमासिक/वार्षिक श्राेत):</strong></h5></div>
                                        <div class="col-md-4"></div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-4">(क) मर्मत सम्भारको जिम्मा लिने समिति संस्थाको नामः</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.Responsible_Org, new { @class = "form-control" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-4">(ख) जनश्रमदान (श्रमशक्ति संख्या):</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.Janashram, new { @class = "form-control" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-4">(ग) सेवा शुल्कवाट रुः</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.SewaSulka, new { @class = "form-control" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-4">(घ) दस्तुर, चन्दावाट रुः</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.Dastur_Chanda, new { @class = "form-control" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-4">(ङ) लागत सहभागिता वा अनुदान रुः</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.Lagat_Anudan, new { @class = "form-control" })</div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-4">(च) व्याज वा अन्य वचत रुः</div>
                                        <div class="col-md-6 form-group">@Html.TextBoxFor(model => model.Interest_Saving, new { @class = "form-control" })</div>
                                        <div class="clearfix"></div>
                                    </div>

                                        <div class="col-md-12">
                                            <div class="col-md-8"><h5><strong>७. अन्य (प्राविधिक र व्यवस्थापन सम्वन्धि) विवरण:</strong></h5></div>
                                            <div class="col-md-4"></div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-3">(क) @Html.TextBoxFor(model => model.Samiti_Rohabar_Name, new { @class = "form-control", @Value = "नगरपालिका", @readonly = "readonly" })</div>
                                            <div class="col-md-3">(ख) @Html.TextBoxFor(model => model.Samiti_Rohabar_Name, new { @class = "form-control" })</div>
                                            <div class="col-md-3">(ग) @Html.TextBoxFor(model => model.Samiti_Rohabar_Name, new { @class = "form-control" })</div>
                                            <div class="clearfix"></div>
                                        </div>*@

                                        <div class="col-md-12">
                                            <div class="col-md-8"><h5><strong>सम्झौताका शर्तहरुः</strong></h5></div>
                                            <div class="col-md-4"></div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-11">१. आर्थिक प्रशासन नियमावली तथा स्थानीय सरकार संरचना एेन २०७४ एवं प।चलित कानुन अनुसार दोश्रो पक्षले सम्पूर्ण कार्य गर्नु पर्नेछ ।</div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-11">२. उपभोक्ता समितिको खाता उपभोक्ता समितिको अध्यक्ष, कोषाध्यक्ष अथवा अध्यक्ष र कार्यालयले तोकेको कार्यालयको कुनेे कर्मचारिको संयुक्त दस्तखतबाट संचालन गरिनेछ ।</div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-11">३. जनसहभागिता वापत तोकिएको रकम खोलिएको बेेंक खातामा जम्मा गरेको सक्कल प्रमाण दोश्रो पक्षले पेश गरेमा मात्र योजना संचालनका लागि पहिलो पक्षले प्रक्रिया अघि बढाउने ।</div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-11">४. आयोजनाका लागि प्रप्त हुने रकम तथा निर्माण सामाग्री सम्वन्धित आयोजनाका लागि मात्र प्रयोग गर्नु पर्नेछ र यसको दुरुपयोग भएमा तथा हिनामीना भएमा दोश्रो पक्षका अध्यक्ष तथा पदाधिकारीबाट सरकारी वा सो सरह असुल उपर गरिने छ ।</div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-11">५. दोश्रो पक्षले सम्झोेतामा उल्लेखित प्राविधिकका निर्देशनमा रहि तोकिएको प्राविधिक लागत अनुमान, ड्रइङ्ग, डिजाइनिङ्ग, स्पेशीफिकेशन वमोजिम निर्माण कार्य गर्नु पर्नेछ ।</div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-11">६. दोश्रो पक्षले आयोजनाको निर्माण कार्य ठेकेदार वा ठेक्का पट्टावाट गराउनु हुदेेन । आयोजनावाट निर्माण तथा अन्य कार्य प्रत्यक्ष वा अप्रत्यक्ष रुपमा  ठेक्का पट्टावाट गराइएको पाईएमा उपभोक्ता समितिलाई कालो सुचीमा समावेश गरी आयोजनाको रकम र निकाशा तथा भुक्तानी बन्द गरिनेछ ।</div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-11">७. दोश्रो पक्षले आयोजना सम्पन्न भएपछि पहोलो पक्षवाट जाँच पास गरी फरफारक लिनु पर्नेछ ।</div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-11">८. आयोजना सम्पन्न भएपछि आयोजनाको मर्मत सम्भारको जिम्मेवारी उपभोक्ता समितिवाट हुनेछ ।</div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-11">९. पहिलो किस्ता वापत कार्यालयले तोकिए वमोजिम पेशकी कामको प्रक्रितिको आधारमा उपलव्ध गराउन सक्नेछ र यसपछि दोश्रो/तेश्रो किस्ता रनिङ्ग बिल मुल्याङ्कनको आधारमा र अग्रीम किस्ता प्राप्त विल तथा कार्य सम्पन्न प्रतिवेदनको आधारमा गरिनेछ ।</div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-11">१०. दोश्रो, तेश्रो र अन्तिम किस्ता भुक्तानी लिनु भन्दा अगाडी उपभोक्ता समितोले आयोजनाको आम्दानी खर्च तथा कार्य प्रगति उपभोक्ता समूह बीच छलफल गराई उपभोक्ता समितिको वेेठकबाट समेत निर्णय गराउनु पर्नेछ ।</div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-11">११. उपभोक्ता समितोले भुक्तानी माग गर्दा आयोजनाको लागि लागेको सम्पूर्ण विल भने सिलसिलेवार ढङ्गमा संलग्न राखी पेश गर्नु पर्नेछ र रु ५००० भन्दा बढीको निर्माण अन्य समग्रको विलहरु भ्याट बिल भएको हुनुपर्नेछ ।</div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-11">१२. उपभोक्ता समितोले पेश गरेको विल भरपाई जाँच गरी प्राविधिक मुल्याङ्कनका आधारमा दोश्रो/तेश्रो र अन्तिम किस्ता भुक्तानि गरिनेछ ।</div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-11">१३. आयोजनाको कूल आय भन्दा घटी लागतमा आयोजना सम्पन्न भएको अवस्थामा भए मुताविक नेे अनुदान र जनसहभागिताको प्रतिशत निर्धारण गरी भुक्तानी गर्न उपभोक्ता समिति सहमत हुनुपर्नेछ ।</div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-11">१४. तोकिएको समयमा आयोजना सम्पन्न गर्न नसकिने अवस्थामा उपभोक्ता समितिको वेेठकवाट निर्णय गराई आयोजना सम्पन्न हुनुपर्ने मिति भन्दा १५ दिन अगावेे म्याद थप का लागि नगरपालिकामा निवेदनव दर्ता गराउनु पर्नेछ । नगरपालिकाले कामको अवस्था हेरी आेेचित्य पुष्टि भएमा कामको म्याद थप गर्न सक्नेछ तर चालु आ.व.को आषाढ १५ गते को अवधि वढने गरी म्याद थप्ने छेेन ।</div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-11">१५. अन्तिम किस्ता भुक्तानी माग गर्नु अघि आयोजना स्थलमा उपभोक्ता भेला गराई उपभोक्ता समितिले सार्वजनिक लेखा परीक्षण गराउनु पर्नेछ ।</div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-11">१६. आयोजनाको डिजाइनिङ्ग, स्पेशीफिकेशन आदि फेर वदल गर्नु परेमा कुल लागत भन्दा वढी हुने छेेन ।</div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-11">१७. उपभोक्ता समितिले आयोजना मिति.........देखि शुरु गरी.......पुरा गर्नेछ ।</div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-11">१८. सम्झोेता भएको १ महिना भित्र काम शुरु नभएमा उपभोक्ता समिति स्वतः विघटन हुने छ ।</div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-11">१९. उपभोक्ता समितिले तोकिएको गुणस्तर र परिमाण अनुसार प्राविधिकको सुपरिवेक्षणमा काम गर्नु पर्नेछ ।</div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-11">२०. तोकिएको शर्त पालना दोश्रो पक्षले नगरेमा पहिलो पक्षले जुनसुकेे समयमा सम्झोेता तोड्न सकिनेछ ।</div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-11">२१. नगदी जिन्सी सामानको प्राप्ती, खर्च र बाँकी तथा आयोजनाको प्रगति विवरण दोश्रो पक्षले नियमित रुपमा पहिलो पक्षलाई दिनु पर्नेछ ।</div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-11">२२. प्रत्यक चोेमासिक र वार्षिक रुपमा योजनाको भोेतिक तथा खर्चको विवरण सम्बन्धित निकायमा पठाउनेछोे ।</div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-11">२३. आयोजनाको सबेे काम पहिलो पक्षको निर्णय अनुसार उपभोक्ता समिति/समुहले गर्ने गराउनेछ ।</div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-11">२४. अन्य कुरा प्रचलित एेन नियामानुसार हुनेछ ।</div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-11">२५. वडास्तरका आयोजनाहरुको अनुगमनको काम सम्बन्धित वडा समितिले गर्नेछ ।</div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-11">२६. नगरस्तरीय योजना अनिगमन समितिले गर्ने स्तलगत अवलोकनमा दोश्रो पक्षले योजना/आयोजना/कार्यक्रम सम्वन्धि प्रगती जानकारी गराउनु पर्नेछ ।</div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-11">२७. योजना कार्यन्वयन सम्बन्धमा कुनेे अवरोध वा समस्या उत्पन्न भएका तत्काल पहिलो पक्षलाई जानकारी गराउनु पर्ने छ ।</div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-11">२८. अन्य शर्तहरुः</div>
                                            <div class="clearfix"></div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="col-md-8"><h5><strong>उपयुक्त बमोजिम गर्न हामी मञ्जुर छाेे ।</strong></h5></div>
                                            <div class="col-md-4"></div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <div class="col-md-8"><h5><strong>धनगढीमाई नगरपालिकाको तर्फवाटः</strong></h5></div>
                                                    <div class="col-md-4"></div>
                                                    <div class="clearfix"></div>
                                                    <div class="col-md-1">नामः</div>
                                                    <div class="col-md-8 form-group">@Html.TextBoxFor(model => model.Municipality_Rep_Name, new { @class = "form-control" })</div>
                                                    <div class="clearfix"></div>
                                                    <div class="col-md-1">दर्जा</div>
                                                    <div class="col-md-8 form-group">@Html.TextBoxFor(model => model.Municipality_Rep_Post, new { @class = "form-control" })</div>
                                                    <div class="clearfix"></div>
                                                    <div class="col-md-1">सही</div>
                                                    <div class="col-md-8 form-group"></div>
                                                    <div class="clearfix"></div>
                                                    <div class="col-md-1">मिति</div>
                                                    <div class="col-md-8 form-group">@Html.TextBoxFor(model => model.Municipality_Manjuri_Date, new { @class = "form-control  nepali-calendar" })</div>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="col-md-8"><h5><strong>उपभोक्ता समितिको तर्फवाटः</strong></h5></div>
                                                    <div class="col-md-4"></div>
                                                    <div class="clearfix"></div>
                                                    <div class="col-md-1">अध्यक्षको नामः</div>
                                                    <div class="col-md-8 form-group">@Html.TextBoxFor(model => model.Samiti_Adakshya_Name, new { @class = "form-control" })</div>
                                                    <div class="clearfix"></div>
                                                    <div class="col-md-1">सहीः</div>
                                                    <div class="col-md-8 form-group"></div>
                                                    <div class="clearfix"></div>
                                                    <div class="col-md-1">सचिवको नामः</div>
                                                    <div class="col-md-8 form-group">@Html.TextBoxFor(model => model.Samiti_Sachib_Name, new { @class = "form-control" })</div>
                                                    <div class="clearfix"></div>
                                                    <div class="col-md-1">सहीः</div>
                                                    <div class="col-md-8 form-group"></div>
                                                    <div class="clearfix"></div>
                                                    <div class="col-md-1">रोहवरः</div>
                                                    <div class="col-md-8 form-group">@Html.TextBoxFor(model => model.Samiti_Rohabar_Name, new { @class = "form-control" })</div>
                                                    <div class="clearfix"></div>
                                                    <div class="col-md-1">सहीः</div>
                                                    <div class="col-md-8 form-group"></div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>

                                        </div>


                                        <div class="clearfix"></div>
                                        <div class="form-group">
                                            <label class="col-lg-3  col-md-4 control-label"></label>
                                            <div class="col-lg-7 col-md-7">
                                                <button type="submit" class="btn btn-success">सुरक्षित गर्नुहोस </button>
                                                <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("PlanningSamjhautaIndex", "PlanningSamjhauta")'">मुख्य मेनु</button>
                                            </div>
                                        </div>


                                }
                            </div>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    $('#Project_Start_Date').nepaliDatePicker({
        npdMonth: true,
        npdYear: true,
        npdYearCount: 10
    });
    $('#Project_End_Date').nepaliDatePicker({
        npdMonth: true,
        npdYear: true,
        npdYearCount: 10
    });
    $('#Planning_Start_Date').nepaliDatePicker({
        npdMonth: true,
        npdYear: true,
        npdYearCount: 10
    });
    $('#Planning_End_Date').nepaliDatePicker({
        npdMonth: true,
        npdYear: true,
        npdYearCount: 10
    });
    $('#Municipality_Manjuri_Date').nepaliDatePicker({
        npdMonth: true,
        npdYear: true,
        npdYearCount: 10
    });
    $('#Samiti_Estd_Date').nepaliDatePicker({
        npdMonth: true,
        npdYear: true,
        npdYearCount: 10
    });
</script>


<script>
    $(document).ready(function () {
        $('.shrot').keyup(function () {
            debugger;
            var calculated_total_sum = 0;
            $('.shrot').each(function () {
                var get_textbox_value = $(this).val();
                if ($.isNumeric(get_textbox_value)) {
                    calculated_total_sum += parseFloat(get_textbox_value);
                }
            });
            $("#TotalSum").html(calculated_total_sum);
            $("#subTotalSourceAmount").val(calculated_total_sum);
        })
    });
</script>


<script>
    $(document).ready(function () {
        $('.kistarakam').keyup(function () {
            debugger;
            var calculated_total_sum = 0;
            var katta_hune_rakam = 0;
            $('.kistarakam').each(function () {
                var get_textbox_value = $(this).val();
                if ($.isNumeric(get_textbox_value)) {
                    calculated_total_sum += parseFloat(get_textbox_value);

                    katta_hune_rakam = parseFloat(calculated_total_sum * 0.03)
                }
            });

            $("#kattaHuniRakam").html(katta_hune_rakam);

            $("#TotalSumForKista").html(calculated_total_sum - katta_hune_rakam);

            var totamt = calculated_total_sum - katta_hune_rakam;

            //document.getElementById('TotalSumInWord').value = totamt;

            $('#subTotalKattaHuni').val(katta_hune_rakam);
            $('#subTotalKista').val(totamt);

        })
    });
</script>




@*<script type="text/javascript">
    jQuery(function ($) {
        $("#FirstKista").mask("9999/99/99");
        $("#SecondKista").mask("9999/99/99");
        $("#ThirdKista").mask("9999/99/99");
        $("#Project_Start_Date").mask("9999/99/99");
        $("#Project_End_Date").mask("9999/99/99");
        $("#Fiscal_Year_Record").mask("999/999");
    });
</script>*@


<script>
    function setsadashya() {
        var Sadashya = $('#Sadashya');
        $(Sadashya).val('');
        var SadashyaVal = '';
        $('.Sadashya').each(function (index, item) {
            SadashyaVal += $(item).val() + ','
        });
        SadashyaVal = SadashyaVal.substring(0, SadashyaVal.length - 1);
        $(Sadashya).val(SadashyaVal);
    }
</script>






