@model Planning.Areas.Admin.Models.ItemViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="padding-md">
    @if (TempData["alreadyexist"] != null)
    {
        <div class="alert alert-info">
            <h5 style="text-align:center"><strong style="color:red;">@TempData["alreadyexist"]</strong></h5>
        </div>
    }

    <section style="background:#efefe9;">
        <div class="container">
            <div class="row">
                <div class="board">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="fiscalYearRecord">
                            <h3 class="step_ttl">राख्नुहोस </h3>
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", @class = "well", @id = "contact_form" }))
                            {
                                @Html.ValidationSummary()
                                @Html.HiddenFor(x=>x.itemId)
                                <fieldset>
                                    <div class="row">
                                        <div class="col-lg-10 col-md-10">
                                            <div class="form-group">
                                                <label>
                                                    नाम
                                                </label>
                                                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control",required="required" }  })
                                                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-lg-10 col-md-10">
                                            <div class="form-group">
                                                <label>
                                                    एकाइ
                                                </label>
                                                @Html.EditorFor(model => model.ekainame, new { htmlAttributes = new { @class = "form-control",required="required" } })
                                                @Html.ValidationMessageFor(model => model.ekainame, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    </div>
                                    <div class="clearfix"></div>
                                    <p>&nbsp;</p>
                                    <div class="form-group">
                                        <label class="col-lg-3  col-md-4 control-label"></label>
                                        <div class="col-lg-7 col-md-7">
                                            <button type="submit" class="btn btn-success">सुरक्षित गर्नुहोस </button>
                                            @Html.ActionLink("मुख्य मेनु", "Index", null, new { @class = "btn btn-info" })
                                        </div>
                                    </div>
                                </fieldset>
                            }
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}